{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Las Islas | Info{% endblock %}</title>
<h1 class="color">Welcome to the Info Page</h1>
<p>
    <a class="color-return"  href="{% url 'index' %}">Return Home</a>
</p>

<div class="form-map-container">
    <section id="form">
        <form id="contact-form" method="post" action="{% url 'info' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </section>
</div>
{% endblock %}