{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Caribbean | Login{% endblock %}</title>
<p class="color">Welcome to the Login Page</p>
<p>
    <a class="color-return" method="post" href="{% url 'index' %}">Return Home</a>
</p>

<div class="form-map-container">
    <section id="form">
        <form id="contact-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </section>
</div>
{% endblock %}